# nginxをデプロイするマニフェスト

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx # ラベルでpodを絞り込み
  template:
    metadata:
      labels:
        app: nginx # podにラベル付与
    spec:
      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            - containerPort: 80
