apiVersion: v1
kind: Pod
metadata:
  name: example-pod
spec:
  containers:
    # 共有ボリュームのデータをポート80番で外部に公開するnginxコンテナ
    - name: nginx
      image: nginx:1.25
      ports:
        - containerPort: 80
      # コンテナ間で共有するボリュームを /usr/share/nginx/html/ にマウント
      volumeMounts:
        - mountPath: /usr/share/nginx/html/
          name: docroot
    # 共有ボリュームにデータを書き込むコンテナ
    - name: alpine
      image: alpine:3.18
      command: ["sh"]
      args:
        - -euc
        - |
          for i in $(seq 1 10) ; do
            echo '{"date": "'$(date)'"}' >> /mnt/date.json
            sleep 3
          done ; sleep infinity
      # コンテナ間で共有するボリュームを /mnt/ にマウント
      volumeMounts:
        - mountPath: /mnt/
          name: docroot
  # コンテナ間で共有するボリューム（k8sが管理するストレージ領域）
  volumes:
    - name: docroot
      emptyDir:
        sizeLimit: 500Mi
