apiVersion: v1
kind: Pod
metadata:
  name: test-pod
spec:
  containers:
    - name: ubuntu
      image: ubuntu:22.04
      command: ["sh"]
      args:
        - -euc
        - |
          for i in $(seq 1 10) ; do
            date >> /mnt/data
            sleep 3
          done ; sleep infinity
      # volumeを「/mnt/」にマウント
      volumeMounts:
        - mountPath: /mnt/
          name: example-vol
  volumes:
    # PersistentVolumeClaim「example-pvc」をこのPodで「example-vol」ボリュームという名前で使用する
    - name: example-vol
      persistentVolumeClaim:
        claimName: example-pvc
