# ConfigMapの定義
apiVersion: v1
kind: ConfigMap
metadata:
  name: testconf
data:
  foo: foo-val
---
# Secretの定義
apiVersion: v1
kind: Secret
metadata:
  name: testsecret
data:
  bar: YmFyLXZhbA== # "bar-val" をBase64エンコードした値
---
# ConfigMapとSecretを使うPodの定義
apiVersion: v1
kind: Pod
metadata:
  name: test-pod
spec:
  containers:
  - name: ubuntu
    image: ubuntu:22.04
    command: ["sh"]
    args:
      - -euc
      - |
        for i in $(seq 1 10) ; do
          echo "Value of foo is $FOO, bar is $(cat /mnt/bar/bar)"
          sleep 3
        done ; sleep infinity
    # 「testconf」ConfigMapから「foo」キーの値を環境変数「FOO」として設定
    env:
    - name: FOO
      valueFrom:
        configMapKeyRef:
          name: testconf
          key: foo
    # 「testsecret」Secretを「/mnt/bar」にマウント
    volumeMounts:
    - name: testsecret
      readOnly: true
      mountPath: /mnt/bar
  volumes:
  # 「testsecret」Secretをコンテナにマウントするためのボリュームを定義
  - name: testsecret
    secret:
      secretName: testsecret

